* {
    margin: 0px;
    font-family: 'GlacialIndifferenceRegular';
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #1e1e1e;
}

.navbar {
    background-color: #bada55;
    padding: 8px 15%;
}

.navbar img {
    height:64px;
    float:left;
    margin-right:16px;
}

.menu a {
    margin-top: 16px;
    margin-right: 16px;
    text-decoration: none;
    display: inline-flex;
}

.menu a:hover {
    text-decoration: overline;
}

.menu {
    background-color: #bada55;
    padding: 8px 15%;
}

.dropdown {
    overflow: hidden;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bada55;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float:none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown:hover .dropdown-content{
    display: block;
}
.footer {
    background-color: #bada55;
    padding: 8px 15%;
}

.footer a {
    font-size: 24px;
    margin: 16px;
    text-decoration: none;
}

.footer a:hover {
    color: black;
}

.header{
    padding: 8px 15%;
    text-align: center;
}

.header i {
    margin: 8px;
    font-size: 128px;
}

.line {
    width: 100%;
    background-color: #bada55;
    padding: 1px;
    margin: 8px 0px;
}

.download {
    padding: 8px 15%;
    text-align: left;
}

    .download a {        
        padding: 14px 16px;
        color: white;
        background-color: #bada55;
        text-decoration: none;
        margin:8px;
        display: inline-block;
    }

    .select {
        text-align: left;
        margin: 32px;
        padding: 8px 15%;
    }
    
    .select i {
        font-size: 36px;
    }
    
    .select a {
        margin: 32px;
        font-size: 36px;
        text-decoration: none;
    }
    
    .select a:hover {
        color: #bada55;
    }
    
    .select table td {
      min-width: 120px;
    }
    
    .line {
        width: 100%;
        background-color: #bada55;
        padding: 1px;
        margin: 8px 0px;
    }
