* {
    margin: 0px;
    font-family: 'FuturaRennerRegular';
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #1e1e1e;
}

.navbar {
    background-color: rgb(74, 109, 239);
    padding: 8px 15%;
}

.navbar i {
    font-size:60px;
    float:left;
    margin-right:16px;
}

.menu a {
    margin-top: 16px;
    margin-right: 16px;
    text-decoration: none;
    display: inline-flex;
}

.menu a:hover {
    text-decoration: overline;
}

.menu {
    background-color: rgb(74, 109, 239);
    padding: 8px 15%;
}

.dropdown {
    overflow: hidden;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(74, 109, 239);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float:none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown:hover .dropdown-content{
    display: block;
}
.footer {
    background-color: rgb(74, 109, 239);
    padding: 8px 15%;
}

.footer a {
    font-size: 24px;
    margin: 16px;
    text-decoration: none;
}

.footer a:hover {
    color: black;
}

.header{
    padding: 8px 15%;
    text-align: center;
}

.header i {
    margin: 8px;
    font-size: 128px;
}

.download {
    padding: 8px 15%;
    text-align: left;
}